/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25/03/2023, 16:42:53
    Author     : vinicius
*/

footer {       
    background-color: #333; /* cor de fundo do footer */
    color: #fff; /* cor do texto do footer */
    text-align: center;
    line-height: 60px; /* altura da linha */
    margin-top: 20px;
    clear: both;
}
